parameters:
    site_name: Unconfigured
    
    database_host: 127.0.0.1
    database_port: null
    database_name: <change_me>
    database_user: <change_me>
    database_password: <change_me>

    admin_password: <change_me>
    
    show_login_link: true
    
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    
    secret: ThisIsNotASecretSoBestChangeItASAP
