html {
	background-color: #DDDDDD;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	line-height: 1.5em;
	font-size: 0.9em;
}

body {
	background-color: #FFFFFF;
	width: 760px;
	margin: 10px auto 10px auto;
	padding: 15px;
}

h1, h2 {
	font-family: 'Bliss Pro Heavy', 'Bliss Pro ExtraBold', 'Lucida Sans', 'Lucida Grande', sans-serif;
	text-transform: uppercase;
	color: #ED1B24;
	clear: both;
}

h2 {
	color: #666666;
	padding: .75em 0;
	margin-top: 1em;
	border-bottom: 1px solid #cccccc;
}

h3 {
    padding: 0;
    margin: 0;
}

h4 {
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
}

hr {
	border: 0;
	border-bottom: 1px solid #cccccc;
	clear: both;
}

p {
	margin: 0 0 1em 0;
}

.clear {
	clear: both;
}

a:hover {
    text-decoration: underline;
}

p.main-link {
	font-size: 1.2em;
	text-transform: uppercase;
	width: 10em;
	text-align: center;
	color: #666666;
	background-color: #cccccc;
	padding: 6px;
	margin: 1px;
}

p.main-link:hover {
	color: #000000;
	padding: 5px;
	border: 1px solid #666666;
}

a {
	text-decoration: none;
	color: inherit;
}

img.thumb {
	border: 1px solid #666666;
	margin: 5px auto;
}

img.preview {
	border: 1px solid #666666;
	margin: 5px 10px 5px 0;
	width: 300px;
	min-height: 100px;
	background: #ffffff url('images/loading.gif') no-repeat center center;
}

div.thumbnail {
	padding: 5px;
	float: left;
	clear: right;
	width: 160px;
	height: 200px;
}

div.thumbnail p {
	text-align: center;
	margin: 0;
	font-size: 80%;
	font-weight: bold;
}

input, textarea {
	font-family: sans-serif;
	border: 1px solid #666666;
	background-color: #dddddd;
	margin: 0 0 1em 0;
	width: 340px;
}

input.file-input {
	margin: 0;
}

.field-title {
	font-size: 80%;
	font-weight: bold;
}

.field-character-count {
	font-size: 60%;
	color: #aaaaaa;
}

.field-current-image {
	font-size: 70%;
	color: #999999;
}

#progressbar {
	margin: 2em auto;
	height: 40px;
	overflow: hidden;
}

#progressbar div {
	border: 0;
	height: 40px;
	float: left;
	color: #333333;
}

div.progressbar-text {
	float: left;
	text-transform: uppercase;
	font-family: 'Bliss Pro Regular', 'Lucida Sans', 'Lucida Grande', sans-serif;
	color: #333333;
	font-weight: bold;
	font-size: 24px;
	padding: .5em 1em 0 1em;
}

#form-box, #preview-box {
	float: left;
	width: 360px;
	margin: 0 10px 10px 0;
}
#preview-box {
	float: right;
	padding-top: 20px;
	text-align: center;
}