@import url('style.css');

html {
overflow-y: scroll;
}

code, pre {
    background: #cccccc;
    padding: .2em .5em;
    color: #000000;
}

h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #000000;
    clear: both;
}

h2 sub {
 font-size: .6em;
 color: #cccccc;
 vertical-align: middle;
 font-family: 'Bliss Pro Regular', 'Lucida Sans', 'Lucida Grande', sans-serif;
}

h3 {
    font-family: 'Bliss Pro Heavy', 'Bliss Pro ExtraBold', 'Lucida Sans', 'Lucida Grande', sans-serif;
    color: #666666;
    padding: .5em 0;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
    border-bottom: 1px solid #cccccc;
    text-transform: uppercase;
    clear: both;
    cursor: pointer;
}

h4 {
    display: block;
    padding-bottom: .25em;
    border-bottom: 1px solid;
}

.list-2-1, .list-2-2 {
    width: 50%;
    float: left;
}

.list-2.1 {
    clear: both; 
}

div.editor_section {
    margin: 1em 0;
    display: none;
}

div.editor_section table {
    width: auto;
    
}

div.editor_section input[type="text"] {
    width: 5em;
    margin-left: 0;
}

input.longInput {
    width: 10em !important;
}

div#colour_editor input {
    margin: .2em 1em;
}

div.colourSwatchHolder {
    background: linear-gradient(30deg,#ffffff,#000000);
    padding: .25em;
    margin: .25em;
    text-align: center;
    width: 4em;
    height: 4em;
    border-radius: 100em;
}
div.colourSwatch {
    display: inline-block;
    border-radius: 100em;
    width: 3.5em;
    height: 3.5em;
    margin: .25em;
}

input[type="color"] {
    width: 4em;
    height: 4em;
    padding: 0;
    margin: 0;
    border-radius: 100em;
    background: linear-gradient(30deg,#ffffff,#000000);
    
}

div.top-tabs {
    font-family: 'Bliss Pro Heavy', 'Bliss Pro ExtraBold', 'Lucida Sans', 'Lucida Grande', sans-serif;
    color: #666666;
    padding: .5em 1em;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: .5em;
    text-transform: uppercase;
    clear: both;
}

div.top-tab {
  float: left;
  padding: .5em;
  cursor: pointer; 
  line-height: 1ex;
  border-right: 1px solid #000000;
}

div.top-tab.last {
  border: 0;
}

div.top-tab:hover {
	background-color: #cccccc;
}

ul.basic-list {
    margin: 0;
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
}

ul.basic-list li {
    margin: .2em 0;
}

div.editor_section {
    display: none;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: .5em .5em 1.5em rgba(0,0,0,.25);
    padding: 1em;
}

a:hover {
    text-decoration: underline;
}

.fake-link {
 cursor: pointer; 
  }

table {
 border-collapse: collapse; 
 width: 100%;
}

table.editor td {
 border-collapse: collapse; 
 padding: .5em; 
 border: 1px solid #333333;
 vertical-align: top;
}

tr.header {
    font-family: 'Bliss Pro Light', 'Lucida Sans', sans-serif;
    background: #cccccc;
}

tr.header td {
    font-size: 1.6em;
    padding: .4em;
    padding-bottom: 0;
    margin: 0;
}

td.field-menu {
 width: 10em; 
 height: 18em;
}

input, textarea {
	font-family: sans-serif;
	border: 1px solid #666666;
	background-color: #dddddd;
	margin: 0 0 1em 0;
	width: auto;
}

input.short {
 width: 4em; 
}

div.delete-box {
    background-color: #ffcccc;
    padding: 10px;
    border: 1px solid #cc6666;
}

br.clear {
	clear: both;
}

p.warningNote {
    color: #990000;
}

div.font-preview-holder {
    margin: 0em;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: .5em .5em 1.5em rgba(0,0,0,.25);   
    overflow: hidden;
}

img.font-preview {
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
}

div.font-preview-fader {
    content: "";
    width: 8em;
    height: 10em;
    position: relative;
    float: right;
    margin-bottom: -10em;
    background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
}

/*
 * {
    width: 8em;
    height: 10em;
    position: relative;
    float: right;
    margin-bottom: -10em;
    background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1) 80%);
}
*/

div.font-block {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: .5em .5em 1.5em rgba(0,0,0,.25);
    
}

div.font-block p.name {
    font-size: 1.5em;
    font-weight: 900;
    margin: 0 0 .3em;
}

.font-editor {
    display: none;
}

.font-editor input[type="file"] {
    margin: 0;
}

span.edit-link {
    font-size: .5em;
    color: #999999;
    cursor: pointer;
}
span.edit-link:hover {
    color: #cc3333;
}
