html {
	background-color: #DDDDDD;
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 0.9em;
}

body {
	background-color: #FFFFFF;
	margin: 20px;
	padding: 15px;
	box-shadow: 10px 10px 50px rgba(0,0,0,.5);
}

h1, h2 {
	font-family: 'Bliss Pro Heavy', 'Bliss Pro ExtraBold', 'Lucida Sans', 'Lucida Grande', sans-serif;
	text-transform: uppercase;
	color: #ED1B24;
	clear: both;
}

header img {
	float: left;
	margin: 0 0 10px 0;
}

h1 {
	display: block;
	float: left;
	padding-left: 1em;
	font-size: 2.5em;
	clear: none;
	color:#7c7c7c;
}

h2 {
	color: #666666;
	padding: .75em 0;
	margin-top: 1em;
	border-bottom: 1px solid #cccccc;
}

h3 {
    padding: 0;
    margin: 0;
}

h4 {
	display: list-item;
	list-style-type: square;
	list-style-position: inside;
}

hr {
	border: 0;
	border-bottom: 1px solid #cccccc;
	clear: both;
	margin: 0;
}

p {
	margin: 0 0 1em 0;
}

.clear {
	clear: both;
}

a:hover {
    text-decoration: underline;
}

p.main-link {
	font-size: 1.2em;
	text-transform: uppercase;
	width: 10em;
	text-align: center;
	color: #666666;
	background-color: #cccccc;
	padding: 6px;
	margin: 1px;
}

p.main-link:hover {
	color: #000000;
	padding: 5px;
	border: 1px solid #666666;
}

p.inline-selector {
    font-size: .8em;
    margin: 0;
}

p.inline-selector strong {
  font-weight: bold;
}

p.inline-selector a {
  color: #999999
}

a {
	text-decoration: none;
	color: inherit;
}

img.thumb, img.preview {
	box-shadow: 5px 5px 30px rgba(0,0,0,.5);
}

img.thumb {
	margin: 5px auto;
}

img.preview {
	min-width: 100px;
	min-height: 100px;
	background: #ffffff url('images/loading.gif') no-repeat center center;
}

div.template-display-grid {
	margin-top: 2em;
}

div.template-display-grid div {
	padding: 5px;
	float: left;
	clear: right;
	width: 200px;
	height: 220px;
	text-align: center;
}

div.template-display-grid div p {
	text-align: center;
	margin: 0;
	font-size: 80%;
	font-weight: bold;
}

div.template-display-list {
	margin-top: 2em;
}

div.template-display-list div {
	clear: both;
	padding: .2em;
}

div.template-display-list > div:hover, div.template-display-list > div.odd:hover {
	background-color: #eedddd;
}

div.template-display-list div.odd {
	background-color: #eeeeee;
}

div.template-display-list div p {
	display: block;
	position: absolute;
	left: 120px;
	width: 20em;
	text-align: left;
	margin: .5em 0;
	font-weight: bold;
}

div.template-display-list div img {
	height: 30px;
	float: left;
}


input, textarea {
	font-family: sans-serif;
	border: 1px solid #666666;
	background-color: #ffffff;
	margin: 0 0 1em 0;
        width: 340px;
	padding: .5em;
}

input.file-input {
	margin: 0;
	padding: 0;
	width: 354px;
}

input[type="submit"] {
	margin: 0;
	width: 356px;
	padding: .5em 2em;
	background: #dddddd;//#ED1B24;
}
input[type="submit"]:hover {
	margin: 0;
	padding: .5em 2em;
	background: #cccccc;//#ED1B24;
	cursor: pointer;
}

.field-title {
	font-size: 80%;
	font-weight: bold;
}

.field-character-count {
	font-size: 60%;
	color: #aaaaaa;
}

.field-current-image {
	font-size: 70%;
	color: #999999;
}

#progressbar {
	display: block;
	float: left;
	margin: .5em auto;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
	font-weight: bold;
	color: #cccccc;
}

#progressbar p {
  margin: 0;
}

span.progressbar-text, span.progressbar-text-active {
	padding: .5em .5em;
	color: #999999;
}

span.progressbar-text-active {
	color: #000000;
}

span.progressbar-text-first {
	padding: .5em .5em .5em 0;
}

#form-box, #preview-box {
	float: left;
	margin: 1.5em 3em 1.5em 0;
}
#preview-box a {
	color: #999999;
}
#form-box {
	width: 360px;
	background-color: #f5f5f5;
	padding: 10px;
	box-shadow: 5px 5px 30px rgba(0,0,0,.5);
}
form p {
  margin: 1em 0;
}
.field-locator {
width: 50px;
height: 50px;
position: absolute;
display: none;
}