{% extends "base.html.twig" %}

{% block content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if not app.user %}

<h2>Login required</h2>

<form action="{{ path('login') }}" method="post">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>
    
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
    </div>
    
    <button type="submit">login</button>
</form>

{% endif %}

{% endblock %}
